@mixin section-face-h4 {
  padding-top: 136px;
  margin: 0;
  font-size: 14px;
}

@mixin section-face-img {
  background-position: top;
  width: 80%;
  margin: 0 auto;
  font-size: 15px;
}

@mixin mobile-activity-h3 {
  position: absolute;
  text-align: center;
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 40px;
  width: 300px;
}


@mixin carusel {
    .carousel-arrow-left {
      position: absolute;
      margin-top: 58px;
      margin-left: 22px;
      z-index: 5;
    }

    .carousel-arrow-right {
      position: absolute;
      margin-top: 57px;
      margin-left: 187px;
      z-index: 5;
    }

    .main-block {
      width: 240px;
      overflow: hidden;

      .container-list {
        float: left;
        position: relative;
        // left: -240px;

        .carusel{
          width: 9999px;
          padding: 0;
          li {
            width: 240px;
            list-style: none;
            float: left;
          }
        }
      }
    }
}
