@mixin section-face-h4 {
  padding-top: 136px;
  margin: 0;
  font-size: 14px;
}

@mixin section-face-img {
  background-position: top;
  width: 222px;
  margin: 0 auto;
  font-size: 15px;
}

@mixin mobile-activity-h3 {
  font-size: 23px;
  margin-top: 10px;
  margin-bottom: 0;
}
