@mixin section-face-h4 {
  padding-top: 136px;
  margin: 0;
  font-size: 14px;
}

@mixin section-face-img {
  background-position: top;
  width: 80%;
  margin: 0 auto;
  font-size: 15px;
}

@mixin mobile-activity-h3 {
  position: absolute;
  text-align: center;
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 40px;
  width: 300px;
}
