header {
  background: url('../img/desktopbg.png') no-repeat;
  padding: 0 200px;

  .header-text-container {
    margin-left: 156px;

    h2 {
      width: 579px;
      margin: 20px auto 25px;
    }
  }
}
