.carusel-container {
  margin: 0 247px;


  .carusel-container-box {
    float: left;
    margin-right: 16px;
    @include carusel-desk;
  }

  .carusel-container-box-3 {
    float: left;
    @include carusel-desk;
  }
}
