.carusel-container {
  margin: 0 232px 0 252px;


  .carusel-container-box {
    float: left;
    margin-right: 16px;
    @include carusel-desk;

      // .container-list-desk {
      //   float: left;
      //   position: relative;
      //
      //   .carusel-desk {
      //     display: block;
      //     width: 9999px;
      //     padding: 0;
      //     li {
      //       width: 300px;
      //       list-style: none;
      //       float: left;
      //     }
      //   }
      // }
  }

  .carusel-container-box {
    float: left;
    margin-right: 16px;
    @include carusel-desk;
    .carousel-arrow-left-desk-2 {
      display: block;
      position: absolute;
      margin-top: 171px;
      margin-left: 22px;
      z-index: 5;
    }

    .carousel-arrow-right-desk-2 {
      display: block;
      position: absolute;
      margin-top: 171px;
      margin-left: 250px;
      z-index: 5;
    }

      .container-list-desk-2 {
        float: left;
        position: relative;

        .carusel-desk {
          display: block;
          width: 9999px;
          padding: 0;
          li {
            width: 300px;
            list-style: none;
            float: left;
          }
        }
      }
  }

  .carusel-container-box-3 {
    float: left;
    @include carusel-desk;

    .carousel-arrow-left-desk-3 {
      display: block;
      position: absolute;
      margin-top: 171px;
      margin-left: 22px;
      z-index: 5;
    }

    .carousel-arrow-right-desk-3 {
      display: block;
      position: absolute;
      margin-top: 171px;
      margin-left: 250px;
      z-index: 5;
    }

      .container-list-desk-3 {
        float: left;
        position: relative;

        .carusel-desk {
          display: block;
          width: 9999px;
          padding: 0;
          li {
            width: 300px;
            list-style: none;
            float: left;
          }
        }
      }
  }
}
