  @import "../scss/_mixins";

.face {
  text-align: center;
  font-family: $header-font;
  margin: 25px;

  h2 {
    font-size: 22px;
    color: #333333;
    margin-bottom: 18px;
  }

  .face-one-text {
    background: url('../img/hunter.png') no-repeat;
    @include section-face-img;
    .face-one-h4 {
      @include section-face-h4;
    }

    .face-one-p {
      font-family: 'Roboto-Ligh';
    }
  }

  .face-two-text {
    background: url('../img/marsha.png') no-repeat;
    @include section-face-img;
    .face-two-h4 {
      @include section-face-h4;
      margin-top: 28px;
    }

    .face-two-p {
      font-family: 'Roboto-Ligh';
    }
  }

  .face-three-text {
    background: url('../img/walker.png') no-repeat;
    @include section-face-img;
    .face-three-h4 {
      @include section-face-h4;
      margin-top: 26px;
    }

    .face-three-p {
      font-family: 'Roboto-Ligh';
    }
  }

  .face-four-text {
    background: url('../img/hunter4.png') no-repeat;
    @include section-face-img;
    .face-four-h4 {
      @include section-face-h4;
      margin-top: 28px;
    }

    .face-four-p {
      font-family: 'Roboto-Ligh';
    }
  }

  .section-face-input {
    font-size: 14px;
    display: block;
    background-color: #fff;
    outline: none;
    border: 2px solid #ff4e50;
    margin: 25px auto;
    padding: 4% 26%;
    // padding: 10px 70px;
    color: #ff4e50;
    border-radius: 20px;
  }

}
