  @import "../scss/_mixins";

.activity {
  font-family: $header-font;
  color: $header-color;
  overflow: hidden;
  height: 970px;
  h2 {
    font-size: 22px;
    color: #333333;
    margin-top: 0;
  }

    .item {
      float: left;
      padding-bottom: 8px;
      position: relative;
      width: 100%;

      h3 {
        @include mobile-activity-h3;
      }

      img {
        width: 100%;
        height: 118px;
        border-radius: 3px;
      }
    }
}
