section {
  text-align: center;
  margin: 35px 10px 0;

  h2{
    font-size: 23px;
    color: #333333;
    margin-bottom: 14px;
  }

  .section-step-one {
    text-align: left;

    }

  .section-step-two {
    margin-top: 5px;
  }

  .section-step-three {
    margin-top: 6px;

    text-align: left;

  }

  .carusel-container {
    display: none;
  }
}
