section {
  text-align: center;
  margin: 35px 10px 0;

  h2{
    font-size: 23px;
    color: #333333;
    margin-bottom: 10px;
  }

  .section-step-one {
    padding: 83px 0 10px 20px;
    background: url('../img/step1.png') no-repeat;
    text-align: left;

    .step-one-text {

          .step-one-h2 {
            color: $header-color;
            font-size: 26px;
          }

          .step-one-p {
            font-size: 14px;
            color: #fff;
          }
        }
    }

  .section-step-two {
    padding: 123px 0 10px 20px;
    background: url('../img/step2.png') no-repeat;
    text-align: left;

    .step-two-text {

          .step-two-h2 {
            color: $header-color;
            font-size: 26px;
          }

          .step-two-p {
            font-size: 14px;
            color: #fff;
          }
        }
  }

  .section-step-three {
    margin-top: 10px;
    padding: 80px 0 10px 20px;
    background: url('../img/step3.png') no-repeat;
    text-align: left;

    .step-three-text {

          .step-three-h2 {
            color: $header-color;
            font-size: 26px;
          }

          .step-three-p {
            font-size: 14px;
            color: #fff;
          }
        }
  }
}
