  @import "../scss/_mixins";

.face {
  clear: both;
  text-align: center;
  font-family: $header-font;
  margin: 25px;

  h2 {
    margin-top: 95px;
    margin-right: 49px;
    margin-bottom: 6px;
  }

  .left-section {
    //display: inline-block;
    float: left;
    width: 35%;
    .section-face-one {
      .face-one-text {

        h4 {
          padding-top: 139px;
        }

        p {
          margin-top: 12px;
        }
      }
    }

    .section-face-two {
      .face-one-text {

        h4 {
          margin-top: 189px;
        }

        p {
          margin-top: 12px;
        }
      }
    }
  }

  .right-section {
    float: right;
    //display: inline-block;
    width: 35%;
    .section-face-three {
      .face-three-text {
        height: 236px;

        h4 {
          padding-top: 138px;
        }

        p {
          margin-top: 12px;
        }
      }
    }

    .section-face-four {
    }
  }

  .section-face-input {
    padding: 10px 30px;
  }

}
