section {
  text-align: center;
  margin: 95px 10px 0;

  h2{
    font-size: 23px;
    color: #333333;
    margin-bottom: 28px;
  }

  .section-step-one {
    display: none;
    padding: 95px 0 10px 20px;
    width: 30%;
  }

  .section-step-two {
    display: none;
    padding: 113px 0 10px 20px;
    width: 30%;
  }


  .section-step-three {
    display: none;
    margin-top: 4px;
    padding: 83px 0 10px 20px;
    width: 30%;
  }

}
