.carusel-container {
  display: block;
  width: 300px;
  overflow: hidden;
  float: left;
  .carusel-block {

    .carusel{

      .carusel-element {
        list-style: none;
      }

    }

  }
}
