  @import "../scss/_mixins";

.activity {
  height: 1050px;
  margin: 156px 1px 0;
  h2 {
    margin-bottom: 37px;
  }
  .result {
    div {
      padding-bottom: 8px;
      width: 235px;
      height: 310px;
      padding-right: 21px;
      padding-bottom: 20px;
      img {
        height: 100%;
      }

      h3 {
        width: 235px;
        margin: 50% auto;
      }

    }

    .item-3 {
      padding: 0;
    }

    .item-5 {
      width: 492px;
      padding: 0 0 20px;
      h3 {
        width: 492px;
        margin: 25% auto;
      }
    }

    .item-6 {
      width: 492px;
      padding: 0 20px 20px 0;
      h3 {
        width: 492px;
        margin: 25% auto;
      }
    }

    .item-7 {
      padding: 0;
    }
  }

}
